.div__a{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.a{
    align-items: center;
    text-decoration: none;
    font-size: 2rem;
    color: #ffffff;
    font-weight: 500;
    border-radius: .5rem;
    padding: .4rem;
}

.a:hover {
    cursor: pointer;
    background-color: #ffffff;
    color: #bc4f70;
}
@media (max-width: 500px) {
    .div__a{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
   
}